<%- include('../layout/header') %>
<div style="text-align: center;margin-bottom: 30px;">
  <a href="/message/" class="button" style="width: 200px;margin: 20px auto;">返回主页</a>
</div>
<div class="hang">
	正在发送客服消息到用户
</div>
<%- include('../layout/footer') %>